.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 10px;
  padding: 20px;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product__price {
  margin-top: 5px;
}

.product__info {
  margin-bottom: 15px;
  height: 100px;
}
