.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 10px;
  padding: 20px;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product__price {
  margin-top: 5px;
}

.product__info {
  margin-bottom: 15px;
  height: 100px;
}

/* import { Button } from "@mui/material";
import React from "react";
import "./product.css";
import hoodie from "../assets/images/hoodie 1.jpg";
import { products } from "../../utilities/products.js";

const Product = () => {
  return (
    <div className="product">
      <div className="product__info">
        {products.map((value) => {
          return (
            <div key={value.id}>
              <p>{value.title}</p>
              <p className="product__price">
                <span>$ </span>
                <strong> {value.price} </strong>
              </p>

              <div className="product__rating">
                <p>{value.stars}</p>
              </div>
            </div>
          );
        })}
        {/* <p>Lorem ipsum dolor sit amet.</p>
        <p className="product__price">
          <span>$</span>
          <strong> 239.00</strong>
        </p>
        <div className="product__rating">
          <p>🌟</p>
        </div> */
/* </div>
        <img src={hoodie} alt="" />
  
        <Button
          variant="primary"
          sx={{
            backgroundColor: "#f0c14b",
            borderColor: "#a88734",
            marginTop: "10px",
          }}
        >
          Add to Cart
        </Button>
      </div>
    );
  };
  
  export default Product; */
